# Adaptar Tablas

Este Notebook sirve para crear un Excel con el formato adecuado para hacer clustering y estudiar los resultados

## Importar Librerias y Visualizar Tabla

In [15]:
import numpy as np
import pandas as pd
import pdb

name = 'dev_2006-2010.xlsx'
d_input = pd.read_excel(name, keep_default_na=False, na_values='..')

d_input.head()

,Country Name,Country Code,Series Name,Series Code,2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010]
0,Afghanistan,AFG,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,20.589262,20.182705,19.774789,19.365638,18.955386
3,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,27.506411,34.290512,42.400000,47.888466,42.700000
4,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,17.332747,24.826653,32.500000,39.877850,32.400000

## Eliminar columnas innecesarias

In [16]:
todel_columns = ['Series Code']
for column in todel_columns:
    d_input.__delitem__(column)
d_input.head()

,Country Name,Country Code,Series Name,2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010]
0,Afghanistan,AFG,"2005 PPP conversion factor, GDP (LCU per inter...",NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"2005 PPP conversion factor, private consumptio...",NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Access to clean fuels and technologies for coo...,20.589262,20.182705,19.774789,19.365638,18.955386
3,Afghanistan,AFG,Access to electricity (% of population),27.506411,34.290512,42.400000,47.888466,42.700000
4,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",17.332747,24.826653,32.500000,39.877850,32.400000

## Dejar paises como única fila

In [ ]:
#El metodo np.unique ordena las listas 
#es necesario devolver la lista a su orden original
#===================================================
'''
firstcolumns = ['Country Name','Series Name','Country Code']
newcolumns = [] #column labels with data
for fcolumn in firstcolumns:
    #print fcolumn
    #np_column = np.array(d_input[fcolumn])     #castear a numpy array
    #indexes_d = np.unique(np_column, return_index=True)[1]   #tomar filas sin repeticion
    #np_column = [np_column[index] for index in sorted(indexes_d)]   #reordenar segun el orden original
    #tupla = (fcolumn,newcolumn)
    #pdb.set_trace()
    #newcolumns.append(tupla)
    if fcolumn == 'Series Name':
        features_d = np_column    #Lista con las caracteristicas
'''

#===================================================
paises_d = np.array(d_input['Country Name'])
indexes_d = np.unique(paises_d, return_index=True)[1]
paises_d = [paises_d[index] for index in sorted(indexes_d)]

features_d = np.array(d_input['Series Name'])
indexes_d = np.unique(features_d, return_index=True)[1]
features_d = [features_d[index] for index in sorted(indexes_d)]

codes_d = np.array(d_input['Country Code'])
indexes_d = np.unique(codes_d, return_index=True)[1]
codes_d = [codes_d[index] for index in sorted(indexes_d)]

#====================================================

columns_d = [('Country Name',paises_d),('Country Code',codes_d)]

empty = 0
notempty = 0
for c_feature in features_d:
    vals = d_input[d_input['Series Name'] == c_feature]['2006 [YR2006]']   #Valores de una caracteristica para todos los paises
    xvals = vals.tolist()
    if (~np.isnan(np.array(xvals))).any():      #No considerar columnas con puros NaN
        columns_d.append((c_feature,xvals))
        notempty+=1
    else:
        empty+=1

#pdb.set_trace()
new_input = pd.DataFrame.from_items(columns_d)
new_input.head()

,Country Name,Country Code,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Adequacy of social insurance programs (% of total welfare of beneficiary households),Adequacy of social protection and labor programs (% of total welfare of beneficiary households),Adequacy of social safety net programs (% of total welfare of beneficiary households),Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households),...,Wholesale price index (2010 = 100),"Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)",Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%)
0,Afghanistan,AFG,20.589262,27.506411,17.332747,61.114919,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.167497
1,Albania,ALB,56.424004,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN,...,92.022401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.762579
2,Algeria,DZA,98.285102,98.490738,96.821274,NaN,NaN,NaN,NaN,NaN,...,83.275933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8,42.844416
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,100.000000,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Quitar columnas con muchos NaNs

In [ ]:
coef = 0.2   # nans/total debe dar superior a este numero
deleted = 0
output = new_input
todel = []
itodel = []

for k in range(2,len(new_input.keys())):    
    llave = new_input.keys()[k]
    valores = new_input[llave] 
    total = valores.shape[0]
    nans = np.count_nonzero(np.isnan(valores))
    xnans = 0    
    
    if coef < float(nans)/float(total):
        todel.append(llave)
        itodel.append(k)
        deleted += 1

for column in todel:
    output.__delitem__(column)


print("Se eliminaron "+str(deleted)+" columnas")


deleted = 0
new_output = output.T
todel = []
itodel = []

for k in range(len(new_output.keys())):    
    llave = new_output.keys()[k]
    valores = new_output[llave] #
    xvalores = np.array(valores)[2:-1]
    xvalores = xvalores.astype(float)
    total = xvalores.shape[0]
    #pdb.set_trace()
    nans = np.count_nonzero(np.isnan(xvalores))  
    
    if coef < float(nans)/float(total):
        todel.append(llave)
        itodel.append(k)
        deleted += 1

for column in todel:
    new_output.__delitem__(column)


print("Se eliminaron "+str(deleted)+" filas")

out = new_output.T
out.head()

## Exportar

In [ ]:
writer = pd.ExcelWriter('dev_2006_proc.xlsx')
out.to_excel(writer,'Data')
writer.save()